<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ignisus</title>
</head>

<body>
  <main class="content">
    <section>
      <h1 class="title">Ignisus Land</h1>
      <h2>Servidor de Minecraft Java (Premium y no premium)</h2>
      <h3>IP: minecraft.ignisus.org | Version: 1.19.4 compatible con Optifine y mods locales.</h3>
      <h1><a [href]="map" target="_blank"><span class="icon-map2">&nbsp;</span>Mapa Onine</a></h1>
      <h3>Network con varios modos:</h3>
      <p>1- Servidor Supervivencia (1.19.4)<br> 2- Servidor Creativo (1.19.4)<br> 3- Servidor Mods con
        Pixelmon (Forge 36.2.39) ip: minecraft.ignisus.org:25569
        <a href="https://drive.google.com/drive/folders/1WQxkyz2z-w4ENXBacWJyJB8OwbOP92H0?usp=sharing"
          target="_blank">DESCARGAR MODS</a><br> 4- Servidor KitPVP (1.8.X)
      </p>

      <h3> Normas:</h3>
      <p>1- Solo intentar entrar con la cuenta de alguien es Ban-IP.
        <br>2- Todo tipo de cheto sera Ban-IP.
        <br>3- Las máquinas de lag serán removidas y sus creadores sancionados.
        <br>4- No grifear en el mapa de La tierra (Survival).
      </p>
      <h3>Entrar: </h3>

      <p>Normal: Mandame un menasaje con tu nombre para entrar en la Whitelist.</p>

      <p>Vip: Donar 1€xmes para pagar la luz y obtener estas ventajas: Estar AFK sin ser expulsado, tener 3
        /homes, acceso al /kit hierro y montar en mobs como delfines, devastadores y golems, podrás crear
        npc que comercien con jugadores por
        ti.
      </p>

      <p>Streamer: Si superas unos requisitos previos, tendras las siguientes ventajas: Estar AFK sin ser
        expulsado. tener 5 /homes, /kit diamante y montar en bastantes mobs, crear NPC tiendas.</p>

      <p>Unban: 10€ para desbanear tu cuenta si faltastes las normas en el pasado.</p>


      <h3>Pagos: (Se admite Paypal y Bizum, puedes pagar varios meses de una)</h3>
      <p>Paypal.Me: @eldiosx (agrega tu nombre de usuario en Minecraft en el concepto)</p>
      <a href="https://paypal.me/eldiosx?country.x=ES&locale.x=es_ES" target="_blank">QR:<img class="paypalme" alt=""
          src="../assets/images/old/qrcode.png"></a>
      <p>Bizum: Hablar con un administrador</p>
    </section>
    <section>
      <h1 class="title">Manual</h1>
      <div class="product-item" category="economia">
        <h2>Economía</h2>
        <p>Diferentes formas de conseguir Dinero</p>
        /sell hand [cantidad]
        <pre class="mcitems">

     Item                                        €
     Faro                                       60k
     Estrella del Nether                 50k
     Brújula de recuperación         25k
     Magnetita                              12k
     Lingote netheite                    10k
     Corazón del mar                    7,5k
     Diamante                                1k
     Pata de conejo                       901
     Cubo con ajolote                     200
     Huevo de tortuga                     410
     Lingote de hierro                    25
     Dinamita                                 10
     Capoarazón de nautilo            100
     Lingote de cobre                     20
     Membrana de fantasma         15
     Carbón Vegetal                       10
     Carbón                                   5
     Troncos, raíces y tallos           3
     Salmón crudo                         2
     Bacalao crudo                        2
     Flores                                       1
     Hueso                                    0.5
     Cuero                                    0.4
     Bola de slime                        0.2
     Semilla de trigo                     0.15
     Bambú                                  0.1
     Piel de conejo                       0.1
     Carne podrida                        0.1
     Ojo de araña                         0.1
  </pre>
        <p>Kit inicial</p>
        Usa el comando /kit diario para obtener las herramientas básicas del servidor.

        <p>NPC tiendas</p>
        Si tienes el rango VIP o Streamer podrás crear NPC que compren y vendan a otros jugadores por
        tí.

        <p>Trabajos</p>
        Consigue un trabajo en la oficina de empleo del /warp pueblo para ganar ingresos pasivamente
        realizando ciertas acciones contra mas niveles subas más ganaras, al cambiar de trabajo no
        perderás los niveles.
        <br><br>
      </div>
      <div class="product-item" category="mecanicas">

        <h2>Mecánicas</h2>

        <p>Proteger cuenta</p>
        <span>Las contraseñas están cifradas, ni un admin las puede ver, registrate con "/register
          [Contraseña] [Contraseña]" y cada vez que entres deberas introducir "/login
          [Contraseña]"</span>

        <p>Mapa online</p>
        <span>Muy útil para no perderte a la derecha podeis cambiar el mapa o fijar a un jugador/a
          accede a el desde la página web:</span>
        <a href="..//ignisusland/mapa">[ Mapa Online ]</a>

        <p>Mensajes privados</p>
        <span>Enviar mensajes "/msg [jugador]" Desactivar el recibir mensajes "/msgtoggle"</span>

        <p>Mensajes rol</p>
        <span>Enviar mensajes modo rol "/me [mensaje]"</span>

        <p>Ocultar scoreboard</p>
        <span>Esconder menú de la derecha "/asb toggle"</span>

        <p>Ocultar Furnis (últil para pc lentos)</p>
        <span>Esconder decoraciones "/furniture toggle"</span>

        <p>Teleports</p>
        <span>Con "/warps" para ver la lista y "/warp [Nombre]" para ir. Existen 4 mundos el "/warp
          Tierra" para construir tu casa, "/warp Pueblo" para pvp y Filtrar (marcadores, en el mapa
          online podeis ver los puntos de interés), "/warp Aventura" para luchar y farmear mobs "/warp
          Minar "para explotarlo sacar todos los recurso (no os dejeis nada porque se wipea) y el
          "/warp Biblioteca" (Un mapa para documentarse con multiples datos interesantes).</span>
        <span>"/tpa [jugador]" o "/call [jugador]" para ir hacia un jugador, el tendra que aceptarte o
          cancelarte.</span>

        <p>Drogas</p>
        <span>Tienes la posibilidad de cocinar drogas para venderlas o crear tu monopolio.</span>

        <p>Tala de arboles</p>
        <span>Si talas el tronco de abajo el arbol cae y se replanta (Cuidado si te cae encima te puede
          hacer daño).</span>

        <p>Habilidades</p>
        <span>"/skill" o "/stat" para más información. (Ve al /warp Pueblo para subir más rapido)
          (Aunque apareces con 4 corazones es la misma vida que minecraft vanilla te da).</span>

        <p>Objetos al morir</p>
        <span>Se recuperan clickando en tu cabeza en el lugar donde moristes, tienes 30 minutos (Pueden
          ser robados por otro jugador).</span>

        <p>Monstruos con niveles</p>
        <span>Monstruos aparecen con niveles aumentando su fuerza botín y experiencia (Disponible en
          pueblo).</span>

        <p>Spawners picables</p>
        <span>Con cualquier pico + toque de seda.</span>

        <p>Usa cualquier skin como si fueras premium</p>
        <br>Nota: si usais TLauncher, entrad a cuenta en ajustar las cuentas... en y desactivar la
        opción
        de 'Usar Pieles TLauncher'
        <br>"/skin [nombre de un usuario premium con la skin que quereis]"
        <br> o tambien podeis
        <br>"/skin url [aqui pegais la url] [SLIM / STEVE]"
        <a href="https://www.minecraftskins.com/">https://www.minecraftskins.com/</a> En esta pagina hay
        muchas skin buscais una que os guste o subis la vuestra y OJO no vale copiar la url del
        navegador, click en 'Image Link' y copiais
        esa url en el juego.
        <img src="../assets/images/old/skin.png" alt="">
        <p>Tab</p>
        Para ver dinero, claimblocks, jugadores etc (El dinero se consigue con /sell hand [cantidad]).

        <p>Crea o unete a un clan</p>
        Disfruta de multiples ventajas.

        <p>Bodas</p>
        Se necesita un cura o alcalde "/marry + los dos nombres"
        <br>Requisitos para poder casar a alguien:
        <br>1- Construir una iglesia o ayuntamiento del rollo que te de la gana.
        <br>2- Contacatar a un moderador y enviarle las coordenadas.
        <br><br>
      </div>
      <div class="product-item" category="casas">
        <h2>Casas y territorios</h2>
        <p>Proteger territorio</p>
        Vas conquistando chunks (F3 + G para ver chunks) y se mantienen con dinero del juego o recursos
        como lingotes de hierro, lingotes de cobre, esmeraldas y diamantes. Wiki con todos los comandos:
        <a href="https://wiki.songoda.com/Ultimate_Claims">https://wiki.songoda.com/Ultimate_Claims</a>
        Tutorial gráfico:
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/qnDD85X1MbU" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe></p>

        <p>Ir a tu territorio</p>
        Puedes usar los comandos /c sethome para guardar tu casa y /c home [claim] para ir a ella.
        <p>Decorarciones</p>
        Disponemos del mejor plugin en decoraciones, podrás comprar cosas en los diferentes comercios
        del pueblo. <br><br>
        <img src="../assets/images/old/decoraciones.png" alt="">
      </div>
      <div class="product-item" category="clanes">
        <h2>Clanes</h2>
        Disfruta de multiples ventajas con /team help
        <p>Unirse a un clan</p>
        /team join [nombre]
        <p>Abandonar un clan</p>
        /team leave
        <p>Crear un clan</p>
        /team create [nombre] /team tag [etiqueta]
        <p>Disolver un clan</p>
        /team disband (x2)
        <p>Reclutar miembros</p>
        <span>Invitar: /team invite [jugador]</span>
        <span>Cambiar si se pueden unir por invitación o sin necesidad de invitación: /team open</span>
        <span>Echar a alguien: /team kick [jugador]</span>
        <span>Cambiar PvP entre miebros: /team pvp</span>
        <span>Chat privado del clan: /team chat</span>
        <span>Banear/desBanear: /team ban o /team unban</span>
        <p>Enderchest del clan</p>
        /team echest
        <p>Economía del clan</p>
        Añadir dinero /team deposit [cantidad] Coger dinero /team withdraw [cantidad] Subir rango del
        clan /team rankup
        <p>Base del clan</p>
        /team sethome Dependiendo del rango puedes crear entre 1-5 /team warp [nombre] Eliminar warp
        /team delwarp
        <p>Rangos</p>
        Subir a miembro de rango: /team promote [miembro] Bajar de rango a miembro: /team demote
        [miembro]
        <br><br>
      </div>
      <div class="product-item" category="crafteos">
        <h2>Crafteos</h2>
        <p>Drogas</p>
        <img src="../assets/images/old/drugs/acid.png" alt="">
        <img src="../assets/images/old/drugs/alcohol.png" alt="">
        <img src="../assets/images/old/drugs/ciggy.png" alt="">
        <img src="../assets/images/old/drugs/coke.png" alt="">
        <img src="../assets/images/old/drugs/dmt.png" alt="">
        <img src="../assets/images/old/drugs/flakka.png" alt="">
        <img src="../assets/images/old/drugs/heroin.png" alt="">
        <img src="../assets/images/old/drugs/ketamine.png" alt="">
        <img src="../assets/images/old/drugs/meth.png" alt="">
        <img src="../assets/images/old/drugs/molly.png" alt="">
        <img src="../assets/images/old/drugs/oxy.png" alt="">
        <img src="../assets/images/old/drugs/pcp.png" alt="">
        <img src="../assets/images/old/drugs/percocet.png" alt="">
        <img src="../assets/images/old/drugs/salvia.png" alt="">
        <img src="../assets/images/old/drugs/shrooms.png" alt="">
        <img src="../assets/images/old/drugs/tussin.png" alt="">
        <img src="../assets/images/old/drugs/weed.png" alt="">
        <img src="../assets/images/old/drugs/xannx.png" alt="">
      </div>
      <div class="product-item" category="discord">
        <h2>Discord</h2>
        <p>Obetenga las ultimas noticias y novedades antes que nadie.</p>
        <a href="https://discord.gg/jbeCEshTur">https://discord.gg/jbeCEshTur</a><br> Discord de ignisus
        en Extras en Click en el icono de minecraft <br>
        <img src="../assets/images/old/1discord.png" alt=""><br>
        <img src="../assets/images/old/2discord.png" alt=""><br>
        <img src="../assets/images/old/3discord.png" alt=""><br>
        <img src="../assets/images/old/4discord.png" alt=""><br>
        <img src="../assets/images/old/5discord.png" alt="">
      </div>
    </section>
  </main>

  <footer>
  </footer>

</body>

</html>
