/* MAIN */
.title {
  text-align: center;
  color: #fff;
}
section{
  text-align: center;
  color: #fff;
}
img{
  width: 50%;
}
.content {
  background-color: #222222;
  border-radius: 10px;
  margin: 85px 5% 0px 5%;
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
  .content {
    margin: 75px auto;
}
}
@media screen and (max-width: 768px) {

  .content {
      margin: 75px auto;
  }


}
