<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ignisus</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="dropdown">
        <button (click)="toggleMenu()" type="button" class="dropdown-btn">&#9776;</button>
      </div>
      <div class="logo">
        <a routerLink=""><img src="../assets/icons/logotext.png" alt="Logo"></a>
      </div>
      <div class="menu">
        <ul [class.show]="isMenuOpen" class="nav-links">
          <li><a routerLink="forum"><span class="icon-users">&nbsp;</span>Forum</a></li>
          <li><a routerLink="gaming"><span class="icon-trophy">&nbsp;</span>Gaming</a></li>
          <li><a routerLink="market"><span class="icon-shopping-bag">&nbsp;</span>Market</a></li>
          <li><a href="https://discord.gg/jbeCEshTur" target="_blank"><span
                class="icon-bubble2">&nbsp;</span>Discord</a></li>
          <li><a onclick="hizoClick()" href="mailto:ignisus@pm.me?subject=Reportar"><span
                class="icon-help">&nbsp;</span>Support</a></li>
        </ul>
      </div>
      <div class="profile">
        <a href="/"><img src="../assets/icons/logo.svg" alt="Login"></a>
      </div>
    </nav>
  </header>

</body>

</html>
