<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ignisus</title>
</head>

<body>
  <main class="content">
    <section>
      <br>
      <h1>MARKET - EN MANTENIMIENTO</h1>
      <div class="menu">
        <div class="search-container">
          <input type="text" [(ngModel)]="searchText" placeholder="Text here" (keyup)="filterItems()">
          <button type="button" (click)="searchItems()">Search</button>
        </div>

        <div class="category-container">
          <button type="button" class="category" [ngClass]="{'active': isCategoryActive('all')}"
            (click)="filterByCategory('all')">All</button>
          <button type="button" class="category" [ngClass]="{'active': isCategoryActive('jewelry')}"
            (click)="filterByCategory('jewelry')">Joyería</button>
          <button type="button" class="category" [ngClass]="{'active': isCategoryActive('clothing')}"
            (click)="filterByCategory('clothing')">Ropa</button>
          <button type="button" class="category" [ngClass]="{'active': isCategoryActive('games')}"
            (click)="filterByCategory('games')">Juegos</button>
          <button type="button" class="category" [ngClass]="{'active': isCategoryActive('food')}"
            (click)="filterByCategory('food')">Alimentación</button>
          <button type="button" class="category" [ngClass]="{'active': isCategoryActive('+18')}"
            (click)="filterByCategory('+18')">+18</button>
        </div>

        <div class="items-container">
          <div *ngFor="let item of filteredItems" class="item" (click)="redirectToUrl(item.url)">{{ item.name }}</div>
        </div>
      </div>


    </section>

  </main>

  <footer>
  </footer>
</body>

</html>