/* MAIN */
h1{
  text-align: center;
  color: #fff;
}

.content {
  background-color: #222222;
  border-radius: 10px;
  margin: 85px auto;
  width: 100%;
  max-width: 1200px;
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
  .content {
    margin: 75px auto;
}
}
@media screen and (max-width: 768px) {

  .content {
      margin: 71px auto;
  }


}
