/*LOADER*/
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/pageLoader.gif') 50% 50% no-repeat rgb(0, 0, 0, .8);
}

/*MAIN MENU*/

body {
    zoom: 125%
}
.center{
    margin-left: 40%;
}
.title {
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    width: 114px;
    height: 47px;
    display: block;
}

.title_mobile {
    display: none;
}

.logotext {
    padding-top: 5px;
    width: 80%;
    height: 80%;
}

.logotext:hover {
    width: 100%;
    height: 100%;
}

.iconomenu {
    content: url("../img/mainmenudark.png");
}

.login {
    padding-top: 10px;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
}

.login_text {
    color: rgb(255, 255, 255);
}

.login_text:hover {
    color: #FF7700;
    cursor: pointer;
}

.menuContainerLogin {
    padding-top: 3px;
}

header {
    width: 100%;
    background: rgba(0, 0, 0, .8);
    font-weight: bold;
}

#btn-mainmenu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

header label:hover a {
    cursor: pointer;
    color: #FF7700;
}

.mainmenu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.mainmenu .item {
    text-align: center;
    flex-grow: 1;
}

.mainmenu .item:hover a {
    color: #FF7700;
}

.mainmenu .item a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}


/*Theme Boutton*/

.theme {
    display: fixed;
    position: absolute;
    padding-top: 1px;
    padding-left: 1px;
}

.theme label {
    display: flex;
    width: 75px;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    background: rgb(20, 20, 20);
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.theme label i {
    font-size: 18px;
}

.theme label .icon-sun {
    color: gold;
    transition: 0.8s;
}

.theme label .icon-moon-o {
    color: #fff;
    transition: 0.8s;
}

.theme label .ball {
    display: none;
}

.theme label i {
    font-size: 18px;
}

.theme label .icon-sun {
    color: gold;
    transition: 0.8s;
}

.theme label .icon-moon-o {
    color: rgb(0, 119, 255);
    transition: 0.8s;
}

.theme label .icon-sun {
    opacity: 1;
}

.theme label .icon-moon-o {
    opacity: 0;
}

.theme input {
    display: none;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    box-shadow: 0px 3px rgba(0, 0, 0, 0.5);
}

.sticky+.content {
    padding-top: 50px;
}

/*Responsive*/

@media (max-width: 900px) {
    body {
        zoom: 100%
    }

    header {
        display: flex;
    }

    .title {
        display: none;
    }

    .title_mobile {
        margin-left: 35%;
        padding-left: 1%;
        padding-right: 1%;
        text-align: center;
        width: 114px;
        height: 47px;
        display: flex;
    }

    header label {
        display: block;
    }

    .mainmenu {
        position: absolute;
        background: rgba(0, 0, 0, .8);
        width: 50%;
        margin-left: -50%;
        transition: all 0.3s;
        margin-top: 50px;
    }

    .mainmenu ul {
        flex-direction: column;
    }

    .mainmenu .item {
        border-top: 1px solid #fff;
    }

    #btn-mainmenu:checked~.mainmenu {
        margin: 0;
        margin-top: 50px;
    }
}

@media (max-width:600px) {
    .title_mobile {
        margin-left: 30%;
    }
}

@media (max-width:450px) {
    .title_mobile {
        margin-left: 25%;
    }
}

/*LOGIN*/

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.loginbutton {
    background-color: #FF7700;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


.loginbutton:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.loginavatar {
    width: 10%;
    border-radius: 50%;
    border: 1px solid #6b6b6b;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
    background-color: #080808;
    margin: 5% auto 15% auto;
    width: 80%;
    box-shadow: 0 0 10px 10px rgba(85, 85, 85, 0.6);
    -moz-box-shadow: 0 0 10px 10px rgba(85, 85, 85, 0.6);
    -webkit-box-shadow: 0 0 10px 10px rgba(85, 85, 85, 0.6);
    -o-box-shadow: 0 0 10px 10px rgba(85, 85, 85, 0.6);
    border-radius: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 0;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #FF7700;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

/*Responsive*/

@media (max-width:750px) {
    .loginavatar {
        width: 20%;
        border-radius: 50%;
    }
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

/*THEME*/

.lightmode .login_text {
    color: rgb(29, 29, 29);
}

.lightmode .login_text:hover {
    color: #FF7700;
    cursor: pointer;
}

.lightmode header {
    background: rgba(245, 245, 245, 0.8);
}

.lightmode .mainmenu .item a {
    color: rgb(31, 30, 30);
}

.mainmenu .item:hover a {
    color: #FF7700;
}

.lightmode .sticky {
    background: rgb(250, 250, 250);
    box-shadow: 0px 3px rgba(202, 202, 202, 0.5);
}

.lightmode .mainmenu {
    background: rgba(245, 245, 245, 0.8);
}

.lightmode .iconomenu {
    content: url("../img/mainmenulight.png");
}

.lightmode .theme label .icon-sun {
    opacity: 0;
}

.lightmode .theme label .icon-moon-o {
    opacity: 1;
}

.lightmode .theme label {
    background: #f3f2f2;
}

.lightmode .modal-content {
    background-color: #fefefe;
    border-radius: 3px solid #888;
    box-shadow: 0 0 10px 10px rgba(85, 85, 85, 0.6);
    -moz-box-shadow: 0 0 10px 10px rgba(85, 85, 85, 0.6);
    -webkit-box-shadow: 0 0 10px 10px rgba(85, 85, 85, 0.6);
    -o-box-shadow: 0 0 10px 10px rgba(85, 85, 85, 0.6);
}

.lightmode .close {
    position: absolute;
    right: 35px;
    top: 0;
    color: #000;
    font-size: 50px;
    font-weight: bold;
}