<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ignisus</title>
</head>

<body>
  <main class="content">
    <section>
      <br>
      <h1>EN MANTENIMIENTO</h1><br>
    </section>

    <section>
      <div class="gallery">
        <a href="https://signal.group/#CjQKII117e9C-AsIsCwvlAJIPFDArUlu5rbP2UMqXvA3edRHEhBkbAUiJ2u3GIKjM5KcvqNC"><img
            src="../assets/images/signal.jpg" alt="signal"><span class="icon-signal">&nbsp;</span>Signal Group</a>
        <a href="https://map.ignisus.org/"><img src="../assets/images/map.jpg" alt="map"><span
            class="icon-map2">&nbsp;</span>Online Minecraft Map</a>
        <a href="https://github.com/ignisus/web-app"><img src="../assets/images/github.png" alt="github"><span
            class="icon-github">&nbsp;</span>Github Proyect</a>
        <a href="https://discord.gg/jbeCEshTur"><img src="../assets/images/discord.jpg" alt="discord"><span
            class="icon-bubble2">&nbsp;</span>Discord</a>
      </div>
    </section>

  </main>

  <footer>
  </footer>

</body>

</html>
