<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ignisus</title>
</head>

<body>
  <main class="content">
    <section>
      <br>
      <h1>EN MANTENIMIENTO</h1><br>
      <h1>&nbsp;Signal Group: <a
          href="https://signal.group/#CjQKII117e9C-AsIsCwvlAJIPFDArUlu5rbP2UMqXvA3edRHEhBkbAUiJ2u3GIKjM5KcvqNC"
          target="_blank">SIGNAL GROUP LINK</a></h1>
    </section>

  </main>

  <footer>
  </footer>

</body>

</html>
