/* MAIN */
h1{
  text-align: center;
  color: #fff;
}

.navbar {
  max-width: 1000px;
  margin: 0 auto;
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 9999;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0F0F0F;
  color: #fff;
  padding: 10px;
}

.content {
  background-color: #222222;
  border-radius: 10px;
  height: 2000px;
  margin: 90px 5% 0px 5%;
}

.logo {
  margin-left: 20px;
}

.logo img {

  width: 100px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 10px 0 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.profile img {
  margin-right: 20px;
  width: 40px;
  border-radius: 50%;
}

.dropdown {
  display: none;
  padding-left: 10px;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.nav-links a:hover {
  color: #FF7700;
}

.nav-links.show {
  display: block;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .navbar {
      top: 0px;
      border-radius: 0px;
  }

  .content {
      background-color: #222222;
      border-radius: 10px;
      height: 2000px;
      margin: 100px auto;
  }

  .menu {
      position: fixed;
  }

  .nav-links {
      display: none;
      position: fixed;
      left: 0;
  }

  .nav-links li {
      margin: 10px 0 10px 0;
  }

  .logo {
      text-align: center;
      margin-left: 0;
  }

  .dropdown {
      display: block;
  }

  .dropdown-btn {
      float: none;
      display: block;
      margin-bottom: 10px;
  }

}
