/*general*/

body {
    margin: 0;
    font-family: 'Times New Roman';
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(37, 37, 37);
}

.titulo {
    font-family: console;
    font-size: 4vw;
    text-align: center;
    -webkit-text-fill-color: saddlebrown;
    -webkit-text-stroke: 0.2vw rgb(0, 173, 0);
    padding: 10px;
    margin: 0px 0px 1vw 0px;
}

/*Otros*/

.mcitems {
    width: 100%;
    font-family: 'Times New Roman';
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}

.inicio {
    width: 100%;
    font-family: 'Times New Roman';
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}

.in-flex {
    flex: 1;
    color: white;
    height: auto;
    min-width: 300px;
}

.in-flex:first-child {
    flex: 2;
    padding: 15px;
    background-color: rgba(0, 0, 0, .8);
    margin: 20px;
    margin-bottom: 0px;
}

.in-flex div {
    background-color: rgba(0, 0, 0, .8);
    margin: 20px;
    mask-border-width: 100%;
}

.mapa {
    position: absolute;
    z-index: -1;
    top: 2%;
    left: 0;
    width: 100%;
    height: 100%;
}

.mserverinfo {
    width: 100%;
    height: 10vw;
}

@media (max-width:450px) {
    .in-flex {
        flex: 1;
        height: autopx;
        min-width: 200px;
    }
    .mserverinfo {
        height: 15vw;
    }
}


/* MANUAL*/

.wrap {
    max-width: 1100px;
    width: 90%;
    margin: auto;
    background: rgba(0, 0, 0, .8);
    padding: 20px;
}

.wrap>h1 {
    color: #494B4D;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
}

.wrap>h1:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #C7C7C7;
    margin: 20px 0;
}

.store-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.category_list {
    display: flex;
    flex-direction: column;
    width: 18%;
}

.category_list .category_item {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: #5c0800;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.category_list .ct_item-active {
    background: #ff0000;
}

.products-list {
    width: 82%;
    display: flex;
    flex-wrap: wrap;
}

.products-list .product-item {
    width: 100%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgb(255, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transition: all .4s;
}

.products-list .product-item img {
    width: 100%;
}

.products-list .product-item p {
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #2D3E50;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.products-list .product-item a:hover {
    cursor: pointer;
    background-color: red;
}

.paypalme {
    width: 200px;
    height: 200px;
}


/* RESPONSIVE */

@media screen and (max-width: 900px) {
    .category_list,
    .products-list {
        width: 100%;
    }
    .category_list {
        flex-direction: row;
        justify-content: space-between;
    }
    .category_list .category_item {
        align-self: flex-start;
        width: 100%;
        font-size: 14px;
    }
    .products-list .product-item {
        margin-left: 4.5%;
    }
    .products-list .product-item:nth-child(3n+1) {
        margin-left: 0px;
    }
}

@media screen and (max-width: 700px) {
    .category_list {
        flex-direction: column;
    }
    .category_list .category_item {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .products-list .product-item {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .products-list .product_item {
        width: 100%;
        margin-left: 0px;
    }
}


/*Theme*/

.lightmode {
    color: rgb(14, 14, 14);
    background-color: rgb(220, 220, 220, 1);
}

.lightmode .in-flex {
    color: rgb(31, 31, 31);
}

.lightmode .in-flex:first-child {
    background-color: rgba(245, 245, 245, 0.8);
}

.lightmode .in-flex .box {
    background-color: rgba(245, 245, 245, 0.8);
}

.lightmode .products-list .product-item {
    background: rgba(245, 245, 245, 1);
}